<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GSA </title>


  <!--Fav icon -->
  <link rel="shortcut icon" href="images/fav.png" type="image/x-icon">
  <!--tailwind -->
  <script src="https://cdn.tailwindcss.com"></script>
  <!--custom -->
  <link rel="stylesheet" href="style.css" />
  <!--animation-->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <!--google font-->
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">

</head>

<body>


  <div class="lg:px-36 lg:pt-14 bg-[#1E1E1E]">
    <header class=" w-full relative overflow-hidden">
      <a href="#" class="absolute z-30 top-10 md:left-20 left-10" data-aos="fade-in">
        <img src="images/logo.png" alt="">
      </a>
      <div
        class="absolute left-0 top-0 bg-[url('images/banner_overlay.png')] bg-cover z-10 h-full w-full">
      </div>
      <div class="swiper-container lg:h-[400px] md:h-[600px] h-[400px]">
        <div class="swiper-wrapper">
            <div class="swiper-slide bg-[url('images/slide1.png')] bg-no-repeat bg-cover"> </div>
        </div>
        <div class="mt-10 md:left-20 left-10 absolute top-[50%] z-30" data-aos="fade-up">
          <h1
            class="leading-none mb-12 ">
            <span class="block md:mb-0 mb-2  text-white font-medium md:tracking-[3.05px] md:text-[57px] text-[20px] font-['TitlingGothicFB-Normal']">{{ data.player }}</span>
            <span class="text-[#D5AA2A] tracking-[2.15px] font-['TitlingGothicFB-Light'] md:text-[43px] text-[18px]">GSA Shot Quality Evolution</span> 
          </h1>
          <div class="flex gap-10">
            <div class="swiper-button-prev hover:bg-[#D5AA2A] relative rounded-[34px] border-[1px] border-[solid] md:w-[68px] w-[40px] md:h-[68px] h-[40px] border-[#FFF]"></div>
            <div class="swiper-button-next hover:bg-[#D5AA2A]  relative rounded-[34px] border-[1px] border-[solid] md:w-[68px] w-[40px] md:h-[68px] h-[40px] border-[#FFF]"></div>
           
          </div>
         
        </div>

        <!-- Add Arrows -->
      
       
    </div>
      <!-- <div class="container relative mx-auto flex items-center  content-center align-middle h-full min-h-[700px]">

  
  
  
      </div> -->
  
  
  
    </header>
  </div>
 

  <section class="bg-[#1E1E1E]">

    <div class="relative flex ">
    
      <button id="scrollLeft"
        class="absolute left-0 z-10  hover:bg-gray-400 text-white p-2 rounded-full opacity-0 pointer-events-none">
        &#9664; 
      </button>

      <div id="tabsWrapper" class="border-b-2 border-[#745D1A] overflow-x-auto whitespace-nowrap scroll-smooth w-full no-scrollbar">
        <!-- Tabs Navigation -->
        <ul id="tabs"
          class="flex justify-center    lg:text-[19px] md:text-[16px] text-[14px] font-light  font-['TitlingGothicFB-Light']">
          <li class="border-b-2 border-[#FFF500] ">
            <a href="#tab1" class="text-white hover:text-[#FFF500] px-5 py-10 block">Serve</a>
          </li>
          <li class="pb-2 border-b-2 border-[#1E1E1E] hover:border-[#FFF500]">
            <a href="#tab2" class="text-white hover:text-[#FFF500] px-5 py-10 block">Return</a>
          </li>
          <li class="border-b-2  border-[#1E1E1E] hover:border-[#FFF500]">
            <a href="#tab3" class="text-white hover:text-[#FFF500] px-5 py-10 block">Return Speed</a>
          </li>
          <li class="border-b-2  border-[#1E1E1E] hover:border-[#FFF500]">
            <a href="#tab4" class="text-white hover:text-[#FFF500] py-10 block">Consistency</a>
          </li>
          <li class="border-b-2  border-[#1E1E1E] hover:border-[#FFF500]">
            <a href="#tab5" class="text-white hover:text-[#FFF500] px-5  py-10 block">Initiative</a>
          </li>
          <li class="border-b-2  border-[#1E1E1E] hover:border-[#FFF500]">
            <a href="#tab6" class="text-white hover:text-[#FFF500] px-5  py-10 block">Pressure</a>
          </li>
          <li class="border-b-2  border-[#1E1E1E] hover:border-[#FFF500]">
            <a href="#tab7" class="text-white hover:text-[#FFF500] px-5  py-10 block">Rally FH/BH</a>
          </li>
          <li class="border-b-2  border-[#1E1E1E] hover:border-[#FFF500]">
            <a href="#tab8" class="text-white hover:text-[#FFF500] px-5  py-10 block">Winners</a>
          </li>
          <li class="border-b-2  border-[#1E1E1E] hover:border-[#FFF500]">
            <a href="#tab9" class="text-white hover:text-[#FFF500] px-5  py-10 block">Approach Stats</a>
          </li>
          <li class="border-b-2  border-[#1E1E1E] hover:border-[#FFF500]">
            <a href="#tab10" class="text-white hover:text-[#FFF500] px-5  py-10 block">Rally Play Type</a>
          </li>
          <li class="border-b-2  border-[#1E1E1E] hover:border-[#FFF500]">
            <a href="#tab11" class="text-white hover:text-[#FFF500] px-5  py-10 block">Offensive</a>
          </li>
          <li class="border-b-2  border-[#1E1E1E] hover:border-[#FFF500]">
            <a href="#tab12" class="text-white hover:text-[#FFF500] px-5  py-10 block">Defensive</a>
          </li>
          <li class=" border-b-[1px]  border-[#1E1E1E] hover:border-[#FFF500]">
            <a href="#tab13" class="text-white hover:text-[#FFF500] px-5  py-10 block">Drop Shots</a>
          </li>

          <!-- Add more tabs as needed -->
        </ul>

      </div>

    
      <button id="scrollRight" class="absolute right-0 z-10  hover:bg-gray-400 text-white p-2 rounded-full">
        &#9654; 
      </button>
    </div>


    <!-- Tab Contents -->
    <div id="tab-contents" class="md:mt-20 mt-10">
      <div id="tab1" class="tab-content container mx-auto py-2 mb-0 min-h-[400px]">

    

        <div class="lg:w-[80%] mx-auto mt-5 mb-20 overflow-auto" data-aos="fade-up">
          <table class="min-w-full text-left text-xl  text-white">
            <thead class="bg-[#D5AA2A]  text-center md:text-[18px] text-[14px]">
              <tr>
                <th class="md:py-8 py-5 md:px-6 px-3 border-r  border-[#1E1E1E] "></th>
                {% for item in data.data %}
                <th class="md:py-8 py-5 md:px-6 px-3 border-r font-normal border-[#1E1E1E] ">{{item[2]}}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody class="text-center md:text-[20px] text-[14px] font-light text-white font-[TitlingGothicFB-Light]">
              {% for stat in data.order.serve[0].columns %}
              <tr class="border-b border-[F2F2F2]">
                <td class="md:py-8 py-5 md:px-6 px-3">{{ data.pretty[stat].upper() }}</td>
                {% for item in data.data %}
                <td class="md:py-8 py-5 md:px-6 px-3">{{ item[0][stat] }}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>


      </div>

      <div id="tab2" class="tab-content container mx-auto py-2 mb-0 min-h-[400px] hidden">
        <h2 class="text-[28px] text-center  mb-10 text-white" data-aos="fade-up">
          1ST RETURN
        </h2>

        <div class="lg:w-[80%] mx-auto mt-5 mb-20 overflow-auto" data-aos="fade-up">
          <table class="min-w-full text-left text-xl  text-white">
            <thead class="bg-[#D5AA2A]  text-center md:text-[18px] text-[14px]">
              <tr>
                <th class="md:py-8 py-5 md:px-6 px-3 border-r  border-[#1E1E1E] "></th>
                {% for item in data.data %}
                <th class="md:py-8 py-5 md:px-6 px-3 border-r font-normal border-[#1E1E1E] ">{{item[2]}}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody class="text-center md:text-[20px] text-[14px] font-light text-white font-[TitlingGothicFB-Light]">
              {% for stat in data.order.return[0].columns %}
              <tr class="border-b border-[F2F2F2]">
                <td class="md:py-8 py-5 md:px-6 px-3">{{ data.pretty[stat].upper() }}</td>
                {% for item in data.data %}
                <td class="md:py-8 py-5 md:px-6 px-3">{{ item[0][stat] }}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <h2 class="text-[28px] text-center  mb-10 text-white" data-aos="fade-up">
          2ND RETURN
        </h2>

        <div class="lg:w-[80%] mx-auto mt-5 mb-20 overflow-auto" data-aos="fade-up">
          <table class="min-w-full text-left text-xl  text-white">
            <thead class="bg-[#D5AA2A]  text-center md:text-[18px] text-[14px]">
              <tr>
                <th class="md:py-8 py-5 md:px-6 px-3 border-r  border-[#1E1E1E] "></th>
                {% for item in data.data %}
                <th class="md:py-8 py-5 md:px-6 px-3 border-r font-normal border-[#1E1E1E] ">{{item[2]}}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody class="text-center md:text-[20px] text-[14px] font-light text-white font-[TitlingGothicFB-Light]">
              {% for stat in data.order.return[1].columns %}
              <tr class="border-b border-[F2F2F2]">
                <td class="md:py-8 py-5 md:px-6 px-3">{{ data.pretty[stat].upper() }}</td>
                {% for item in data.data %}
                <td class="md:py-8 py-5 md:px-6 px-3">{{ item[0][stat] }}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        



      </div>

      
      
      <div id="tab3" class="tab-content container mx-auto py-2  min-h-[400px] hidden">

        <h2 class="text-[28px] text-center  mb-10 text-white" data-aos="fade-up">
          1ST RETURN
        </h2>

        <div class="lg:w-[80%] mx-auto mt-5 mb-20 overflow-auto" data-aos="fade-up">
          <table class="min-w-full text-left text-xl  text-white">
            <thead class="bg-[#D5AA2A]  text-center md:text-[18px] text-[14px]">
              <tr>
                <th class="md:py-8 py-5 md:px-6 px-3 border-r  border-[#1E1E1E] "></th>
                {% for item in data.data %}
                <th class="md:py-8 py-5 md:px-6 px-3 border-r font-normal border-[#1E1E1E] ">{{item[2]}}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody class="text-center md:text-[20px] text-[14px] font-light text-white font-[TitlingGothicFB-Light]">
              {% for stat in data.order.return_speed[0].columns %}
              <tr class="border-b border-[F2F2F2]">
                <td class="md:py-8 py-5 md:px-6 px-3">{{ data.pretty[stat].upper() }}</td>
                {% for item in data.data %}
                <td class="md:py-8 py-5 md:px-6 px-3">{{ item[0][stat] }}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <h2 class="text-[28px] text-center  mb-10 text-white" data-aos="fade-up">
          2ND RETURN
        </h2>

        <div class="lg:w-[80%] mx-auto mt-5 mb-20 overflow-auto" data-aos="fade-up">
          <table class="min-w-full text-left text-xl  text-white">
            <thead class="bg-[#D5AA2A]  text-center md:text-[18px] text-[14px]">
              <tr>
                <th class="md:py-8 py-5 md:px-6 px-3 border-r  border-[#1E1E1E] "></th>
                {% for item in data.data %}
                <th class="md:py-8 py-5 md:px-6 px-3 border-r font-normal border-[#1E1E1E] ">{{item[2]}}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody class="text-center md:text-[20px] text-[14px] font-light text-white font-[TitlingGothicFB-Light]">
              {% for stat in data.order.return_speed[1].columns %}
              <tr class="border-b border-[F2F2F2]">
                <td class="md:py-8 py-5 md:px-6 px-3">{{ data.pretty[stat].upper() }}</td>
                {% for item in data.data %}
                <td class="md:py-8 py-5 md:px-6 px-3">{{ item[0][stat] }}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        

      </div>
      <div id="tab4" class="tab-content container mx-auto py-2  min-h-[400px] hidden">

      <div class="lg:w-[80%] mx-auto mt-5 mb-20 overflow-auto" data-aos="fade-up">
        <table class="min-w-full text-left text-xl  text-white">
          <thead class="bg-[#D5AA2A]  text-center md:text-[18px] text-[14px]">
            <tr>
              <th class="md:py-8 py-5 md:px-6 px-3 border-r  border-[#1E1E1E] "></th>
              {% for item in data.data %}
              <th class="md:py-8 py-5 md:px-6 px-3 border-r font-normal border-[#1E1E1E] ">{{item[2]}}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody class="text-center md:text-[20px] text-[14px] font-light text-white font-[TitlingGothicFB-Light]">
            {% for stat in data.order.consistency[0].columns %}
            <tr class="border-b border-[F2F2F2]">
              <td class="md:py-8 py-5 md:px-6 px-3">{{ data.pretty[stat].upper() }}</td>
              {% for item in data.data %}
              <td class="md:py-8 py-5 md:px-6 px-3">{{ item[0][stat] }}</td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
      <div id="tab5" class="tab-content container mx-auto py-2  min-h-[400px] hidden">
        <div class="lg:w-[80%] mx-auto mt-5 mb-20 overflow-auto" data-aos="fade-up">
          <table class="min-w-full text-left text-xl  text-white">
            <thead class="bg-[#D5AA2A]  text-center md:text-[18px] text-[14px]">
              <tr>
                <th class="md:py-8 py-5 md:px-6 px-3 border-r  border-[#1E1E1E] "></th>
                {% for item in data.data %}
                <th class="md:py-8 py-5 md:px-6 px-3 border-r font-normal border-[#1E1E1E] ">{{item[2]}}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody class="text-center md:text-[20px] text-[14px] font-light text-white font-[TitlingGothicFB-Light]">
              {% for stat in data.order.initiative[0].columns %}
              <tr class="border-b border-[F2F2F2]">
                <td class="md:py-8 py-5 md:px-6 px-3">{{ data.pretty[stat].upper() }}</td>
                {% for item in data.data %}
                <td class="md:py-8 py-5 md:px-6 px-3">{{ item[0][stat] }}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      
      </div>
      <div id="tab6" class="tab-content container mx-auto py-2  min-h-[400px] hidden">

        <div class="lg:w-[80%] mx-auto mt-5 mb-20 overflow-auto" data-aos="fade-up">
          <table class="min-w-full text-left text-xl  text-white">
            <thead class="bg-[#D5AA2A]  text-center md:text-[18px] text-[14px]">
              <tr>
                <th class="md:py-8 py-5 md:px-6 px-3 border-r  border-[#1E1E1E] "></th>
                {% for item in data.data %}
                <th class="md:py-8 py-5 md:px-6 px-3 border-r font-normal border-[#1E1E1E] ">{{item[2]}}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody class="text-center md:text-[20px] text-[14px] font-light text-white font-[TitlingGothicFB-Light]">
              {% for stat in data.order.pressure[0].columns %}
              <tr class="border-b border-[F2F2F2]">
                <td class="md:py-8 py-5 md:px-6 px-3">{{ data.pretty[stat].upper() }}</td>
                {% for item in data.data %}
                <td class="md:py-8 py-5 md:px-6 px-3">{{ item[0][stat] }}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div id="tab7" class="tab-content container mx-auto py-2  min-h-[400px] hidden">
        <div class="lg:w-[80%] mx-auto mt-5 mb-20 overflow-auto" data-aos="fade-up">
          <table class="min-w-full text-left text-xl  text-white">
            <thead class="bg-[#D5AA2A]  text-center md:text-[18px] text-[14px]">
              <tr>
                <th class="md:py-8 py-5 md:px-6 px-3 border-r  border-[#1E1E1E] "></th>
                {% for item in data.data %}
                <th class="md:py-8 py-5 md:px-6 px-3 border-r font-normal border-[#1E1E1E] ">{{item[2]}}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody class="text-center md:text-[20px] text-[14px] font-light text-white font-[TitlingGothicFB-Light]">
              {% for stat in data.order.groundstroke_table[0].columns %}
              <tr class="border-b border-[F2F2F2]">
                <td class="md:py-8 py-5 md:px-6 px-3">{{ data.pretty[stat].upper() }}</td>
                {% for item in data.data %}
                <td class="md:py-8 py-5 md:px-6 px-3">{{ item[0][stat] }}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div id="tab8" class="tab-content container mx-auto py-2  min-h-[400px] hidden">
        <div class="lg:w-[80%] mx-auto mt-5 mb-20 overflow-auto" data-aos="fade-up">
          <table class="min-w-full text-left text-xl  text-white">
            <thead class="bg-[#D5AA2A]  text-center md:text-[18px] text-[14px]">
              <tr>
                <th class="md:py-8 py-5 md:px-6 px-3 border-r  border-[#1E1E1E] "></th>
                {% for item in data.data %}
                <th class="md:py-8 py-5 md:px-6 px-3 border-r font-normal border-[#1E1E1E] ">{{item[2]}}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody class="text-center md:text-[20px] text-[14px] font-light text-white font-[TitlingGothicFB-Light]">
              {% for stat in data.order.winners_table[0].columns %}
              <tr class="border-b border-[F2F2F2]">
                <td class="md:py-8 py-5 md:px-6 px-3">{{ data.pretty[stat].upper() }}</td>
                {% for item in data.data %}
                <td class="md:py-8 py-5 md:px-6 px-3">{{ item[0][stat] }}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div id="tab9" class="tab-content container mx-auto py-2  min-h-[400px] hidden">
        <div class="lg:w-[80%] mx-auto mt-5 mb-20 overflow-auto" data-aos="fade-up">
          <table class="min-w-full text-left text-xl  text-white">
            <thead class="bg-[#D5AA2A]  text-center md:text-[18px] text-[14px]">
              <tr>
                <th class="md:py-8 py-5 md:px-6 px-3 border-r  border-[#1E1E1E] "></th>
                {% for item in data.data %}
                <th class="md:py-8 py-5 md:px-6 px-3 border-r font-normal border-[#1E1E1E] ">{{item[2]}}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody class="text-center md:text-[20px] text-[14px] font-light text-white font-[TitlingGothicFB-Light]">
              {% for stat in data.order.approach_stats[0].columns %}
              <tr class="border-b border-[F2F2F2]">
                <td class="md:py-8 py-5 md:px-6 px-3">{{ data.pretty[stat].upper() }}</td>
                {% for item in data.data %}
                <td class="md:py-8 py-5 md:px-6 px-3">{{ item[0][stat] }}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div id="tab10" class="tab-content container mx-auto py-2  min-h-[400px] hidden">
        <div class="lg:w-[80%] mx-auto mt-5 mb-20 overflow-auto" data-aos="fade-up">
          <table class="min-w-full text-left text-xl  text-white">
            <thead class="bg-[#D5AA2A]  text-center md:text-[18px] text-[14px]">
              <tr>
                <th class="md:py-8 py-5 md:px-6 px-3 border-r  border-[#1E1E1E] "></th>
                {% for item in data.data %}
                <th class="md:py-8 py-5 md:px-6 px-3 border-r font-normal border-[#1E1E1E] ">{{item[2]}}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody class="text-center md:text-[20px] text-[14px] font-light text-white font-[TitlingGothicFB-Light]">
              {% for stat in data.order.rally_play_type[0].columns %}
              <tr class="border-b border-[F2F2F2]">
                <td class="md:py-8 py-5 md:px-6 px-3">{{ data.pretty[stat].upper() }}</td>
                {% for item in data.data %}
                <td class="md:py-8 py-5 md:px-6 px-3">{{ item[0][stat] }}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <div id="tab11" class="tab-content container mx-auto py-2  min-h-[400px] hidden">
        <div class="lg:w-[80%] mx-auto mt-5 mb-20 overflow-auto" data-aos="fade-up">
          <table class="min-w-full text-left text-xl  text-white">
            <thead class="bg-[#D5AA2A]  text-center md:text-[18px] text-[14px]">
              <tr>
                <th class="md:py-8 py-5 md:px-6 px-3 border-r  border-[#1E1E1E] "></th>
                {% for item in data.data %}
                <th class="md:py-8 py-5 md:px-6 px-3 border-r font-normal border-[#1E1E1E] ">{{item[2]}}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody class="text-center md:text-[20px] text-[14px] font-light text-white font-[TitlingGothicFB-Light]">
              {% for stat in data.order.offensive[0].columns %}
              <tr class="border-b border-[F2F2F2]">
                <td class="md:py-8 py-5 md:px-6 px-3">{{ data.pretty[stat].upper() }}</td>
                {% for item in data.data %}
                <td class="md:py-8 py-5 md:px-6 px-3">{{ item[0][stat] }}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <div id="tab12" class="tab-content container mx-auto py-2  min-h-[400px] hidden">
        <div class="lg:w-[80%] mx-auto mt-5 mb-20 overflow-auto" data-aos="fade-up">
          <table class="min-w-full text-left text-xl  text-white">
            <thead class="bg-[#D5AA2A]  text-center md:text-[18px] text-[14px]">
              <tr>
                <th class="md:py-8 py-5 md:px-6 px-3 border-r  border-[#1E1E1E] "></th>
                {% for item in data.data %}
                <th class="md:py-8 py-5 md:px-6 px-3 border-r font-normal border-[#1E1E1E] ">{{item[2]}}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody class="text-center md:text-[20px] text-[14px] font-light text-white font-[TitlingGothicFB-Light]">
              {% for stat in data.order.defensive[0].columns %}
              <tr class="border-b border-[F2F2F2]">
                <td class="md:py-8 py-5 md:px-6 px-3">{{ data.pretty[stat].upper() }}</td>
                {% for item in data.data %}
                <td class="md:py-8 py-5 md:px-6 px-3">{{ item[0][stat] }}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <div id="tab13" class="tab-content container mx-auto py-2  min-h-[400px] hidden">
        <div class="lg:w-[80%] mx-auto mt-5 mb-20 overflow-auto" data-aos="fade-up">
          <table class="min-w-full text-left text-xl  text-white">
            <thead class="bg-[#D5AA2A]  text-center md:text-[18px] text-[14px]">
              <tr>
                <th class="md:py-8 py-5 md:px-6 px-3 border-r  border-[#1E1E1E] "></th>
                {% for item in data.data %}
                <th class="md:py-8 py-5 md:px-6 px-3 border-r font-normal border-[#1E1E1E] ">{{item[2]}}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody class="text-center md:text-[20px] text-[14px] font-light text-white font-[TitlingGothicFB-Light]">
              {% for stat in data.order.dropshots[0].columns %}
              <tr class="border-b border-[F2F2F2]">
                <td class="md:py-8 py-5 md:px-6 px-3">{{ data.pretty[stat].upper() }}</td>
                {% for item in data.data %}
                <td class="md:py-8 py-5 md:px-6 px-3">{{ item[0][stat] }}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>


      <!-- Add more tab contents as needed -->
    </div>
    </div>

  </section>

  <footer class="bg-[url('images/footer.jpg')] py-32 pox-10 text-center">
    
  </footer>



</body>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>


<script>
 
//slider 

// Initialize Swiper
var swiper = new Swiper('.swiper-container', {
    slidesPerView: 1,
    spaceBetween: 10,
    // loop: true,
    autoplay:true,
    navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
    },
    effect: 'fade', // Default sliding effect (can be 'fade', 'cube', 'coverflow', etc.)
});




  //javascript arrow

  const scrollLeftBtn = document.getElementById('scrollLeft');
  const scrollRightBtn = document.getElementById('scrollRight');
  const tabsWrapper = document.getElementById('tabsWrapper');
  const tabs = document.getElementById('tabs');

  // Function to toggle the visibility of scroll arrows
  function updateArrowVisibility() {
    const maxScrollLeft = tabsWrapper.scrollWidth - tabsWrapper.clientWidth;

    // Show/hide left arrow
    if (tabsWrapper.scrollLeft > 0) {
      scrollLeftBtn.style.opacity = '1';
      scrollLeftBtn.style.pointerEvents = 'auto'; // Enable click
      
    
    } else {
      scrollLeftBtn.style.opacity = '0';
      scrollLeftBtn.style.pointerEvents = 'none'; // Disable click
    }

    // Show/hide right arrow
    if (tabsWrapper.scrollLeft < maxScrollLeft) {
      scrollRightBtn.style.opacity = '1';
      scrollRightBtn.style.pointerEvents = 'auto'; // Enable click
      tabs.classList.add('justify-around');
    } else {
      scrollRightBtn.style.opacity = '0';
      scrollRightBtn.style.pointerEvents = 'none'; // Disable click
    }
  }

  // Scroll left
  scrollLeftBtn.addEventListener('click', () => {
    tabsWrapper.scrollBy({
      left: -200, // Adjust this value to control the scroll distance
      behavior: 'smooth'
    });
  });

  // Scroll right
  scrollRightBtn.addEventListener('click', () => {
    tabsWrapper.scrollBy({
      left: 200, // Adjust this value to control the scroll distance
      behavior: 'smooth'
    });
  });

  // Attach the updateArrowVisibility function to scroll event
  tabsWrapper.addEventListener('scroll', updateArrowVisibility);

  // Run on load to check if right arrow is needed initially
  window.addEventListener('load', updateArrowVisibility);




  // JavaScript for Tabs 
  document.addEventListener('DOMContentLoaded', function () {
    const tabs = document.querySelectorAll('#tabs a');
    const tabContents = document.querySelectorAll('.tab-content');

    tabs.forEach((tab, index) => {
      tab.addEventListener('click', function (event) {
        event.preventDefault();

        tabContents.forEach(content => content.classList.add('hidden'));

        const target = document.querySelector(tab.getAttribute('href'));
        target.classList.remove('hidden');

        tabs.forEach(tab => {
          tab.parentElement.classList.remove('border-[#FFF500]');
          tab.parentElement.classList.add('border-[#1E1E1E]');

          
          // tab.classList.remove('text-white');
          // tab.classList.add('text-gray-600');
        });
        tab.parentElement.classList.add('border-[#FFF500]');
        // tab.classList.add('text-gray-900');
      });
    });
  });



  // Close dropdown if clicked outside
  // window.onclick = function (event) {
  //   if (!event.target.matches('.relative button')) {
  //     var dropdowns = document.querySelectorAll('.relative .hidden');
  //     dropdowns.forEach(function (dropdown) {
  //       dropdown.classList.add('hidden');
  //     });
  //   }
  // }




  //Aos Animation
  AOS.init({
    duration: 1000,
  });
  AOS.refresh();

</script>


</html>