
body{
    font-family: TitlingGothicFB-Normal;

    /* font-family: "Manrope", sans-serif;*/
}

@font-face {
    font-family: TitlingGothicFB-Light;
    src: url(fonts/TitlingGothicFBNor-Light-AF65ddb1369439f.otf);
}


@font-face {
    font-family: TitlingGothicFB-Normal;
    src: url(fonts/TitlingGothicFBNor-Reg-AF65ddb13687017.otf);
}

@font-face {
    font-family: TitlingGothicFB-Medium;
    src: url(fonts/TitlingGothicFBSky-Med-AF65ddb13662e90.otf);
}

@font-face {
    font-family: TitlingGothicFB-Bold;
    src: url(fonts/TitlingGothicFBSky-Bold-AF65ddb1366ead2.otf);
}

      /* Add animation for the progress bars */
      @keyframes grow {
        from { width: 0; }
        to { width: var(--target-width); }
    }
    .animate-grow {
        animation: grow 2s ease-in-out forwards;
    }